body {
  margin: 0;
  font-size: 22px;
  font-family: 'Inter', sans-serif;
padding: 0px;


}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}


  
.iconabout:hover{
  opacity: 0.3;
}




.btn-primary {
  color: white;
  background-color: #084FAA;
  border-color: #084FAA;
}

.btn-primary:hover {
  color: white;
  background-color: #226fd3;
  border-color: #226fd3;
}







#newnav{
  color: blue !important;
  padding: 0px 0px 0px 0px !important;
  z-index:200 !important;
  width: 100% !important;
  background: #ffffff !important;
  color: black !important;
}


#newnav li {
    padding: 0 10px !important;
      color: black;
}

#newnav li a{
    color: blue !important;
}


.active, .nav-item nav-link{
  color: #084FAA !important;
  font-weight: 600;
  font-size: 20px !important;
}



.dot {
  height: 5px;
  width: 5px;
  background-color: #333333;
  border-radius: 50%;
  display: inline-block;
  padding: 1px 0px 0px 0px;
  margin: 10px 10px 5px 10px;
}


.button10:hover {
background: #084FAA !important;
color: White;
border-color: none !important;
border-style: none !important;

}


.button11:hover {
  color: rgb(161, 161, 161) !important;
  background-color: black !important;
  border-color: black !important;
  border-style: rgb(145, 145, 145) !important;
  
  }
  


  

  /* hover ---------------------*/ 

  .newcontainer {
    position: relative;
    background: black !important;  
    border-radius: 22px;
  }
  
  .newimage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    
  }
  
  .newmiddle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 4px !important;
  }
  
  .newcontainer:hover .newimage {
    opacity: 0.2;
    
  }
  
  .newcontainer:hover .newmiddle {
    opacity: 1;

  }
  







/*  important dont delete */ 

.row {

  margin: 60px auto 0;
}






/*  bspd box hover shadow */




#slide33:hover 
{
  box-shadow: 1px 2px 3px #c5c5c5 !important;
  color: rgb(199, 199, 199) !important;
}



/*  bspd box hover shadow */






/*  landing image specs  */




@media  screen 
and (max-width: 414px) {

  #index  {
      padding:0px !important;
      margin-top:30px;
      margin-left: 290px !important;
      height: 290px !important;
    }
  
  }


  

@media  screen 
and (max-width: 820px) {

  #index  {
      padding:0px !important;
      margin-top:30px;
      margin-left: 290px !important;
      height: 290px !important;
    }
  
  }




@media screen and (max-width: 1200px) {

  #index  {
      padding:0px !important;
      margin-top:30px;
      margin-left: -30px !important;
      max-width: 350px !important;
      height: 400px; 
    }
  
  
  }
  





  @media screen and (min-width: 992px) {



/*  Slide text animation  */

#slide::before {  
  transform: scaleX(0);
  transform-origin: bottom right;

}

#slide:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
  color: white !important;
}

#slide::before {
  content: " ";
  display: block;
  position: absolute;

  inset: 0px ;
  background: #084FAA;
  z-index: -1;
  transition: transform .6s ease;
  color: white !important;
}

#slide:hover {
  color: white !important;
  transform-origin: bottom left;
}
#slide {
  position: relative;
   color: #333333 !important;
}



@media (orientation: landscape) {
  body {
    grid-auto-flow: row;
  }
}


}
  

/*  Slide text animation  */














/*  bubble animation  */


@media  only screen and (min-width: 1200px) {

  


  

    .bubbles{
      position:absolute;
      width:100%;
      height: 3665px;
      overflow:hidden;
      z-index: 5;
      top:0;
      left:0;
     
      
      
    }

    .bubble{
      position: absolute;
      display: block;
      bottom:-100px;
      width:40px;
   
      height: 40px;
   
      opacity:21;

      animation: rise 18s infinite ease-in;

    }

 
    .bubble:before {
      content: "";
      position: absolute;
      top: 1%;
      left: 5%;
      width: 90%;
      height: 90%;
      border-radius: 100%;
      background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
      -webkit-filter: blur(5px);
      filter: blur(3px);
      z-index: 2;
     }
    .bubble:after {
      content: "";
      position: absolute;
      display: none;
      top: 5%;
      left: 10%;
      width: 80%;
      height: 80%;
      border-radius: 100%;
      -webkit-filter: blur(1px);
      filter: blur(1px);
      z-index: 2;
      -webkit-transform: rotateZ(-30deg);
      transform: rotateZ(-30deg); }



    .ball.bubble:before {
      -webkit-filter: blur(0);
      filter: blur(0);
      height: 80%;
      width: 40%;
      
      background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
      -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
      transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);  
    }

    .ball.bubble:after {
      display: block;
      background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); }



    .bubble:nth-child(1){
      left: 25%;
      width: 90px;
      height: 90px;
      animation-delay: 0s;
      animation-duration: 10s;
      background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
      
    }
    .bubble:nth-child(2){
      left: 8%;
    width: 25px;
    height: 25px;
    animation-delay: 5;
    animation-duration: 16s;

    background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);

    }
    .bubble:nth-child(3){
      left: 70%;
      width: 85px;
      height: 85px;
      animation-delay: 10s;
      animation-duration: 12s;
      background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
    
    }
    .bubble:nth-child(4){
      left: 40%;
      width: 60px;
      height: 60px;
      animation-delay: 0s;
      animation-duration: 11s;
      background: radial-gradient(circle at bottom, #1559b3, #1559b3 10%, #739bcf 80%, #0f3566 100%);
 
      
    }
    .bubble:nth-child(5){
      left: 65%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 7s;
    background: radial-gradient(circle at bottom, #1559b3, #1559b3 10%, #739bcf 80%, #0f3566 100%);

    }
    .bubble:nth-child(6){
      left: 75%;
      width: 70px;
      height: 70px;
      animation-delay: 3s;
      animation-duration: 9s;
      background: radial-gradient(circle at bottom, #1559b3, #1559b3 10%, #739bcf 80%, #0f3566 100%);
 
    }
    .bubble:nth-child(7){
      left: 35%;
      width: 30px;
      height: 30px;
      animation-delay: 10s;
      animation-duration: 8s;
      background: radial-gradient(circle at bottom, #1559b3, #1559b3 10%, #739bcf 80%, #0f3566 100%);
 
  
    }
    .bubble:nth-child(8){
      left: 50%;
    width: 80px;
    height: 80px;
    animation-delay: 15s;
    animation-duration: 16s;
  
    background: radial-gradient(circle at bottom, #1de2e2, #1de2e2 10%, #739bcf 80%, #053838 100%);


    }
    .bubble:nth-child(9){
      left: 90%;
      width: 65px;
      height: 65px;
      animation-delay: 2s;
      animation-duration: 16s;
      background: radial-gradient(circle at bottom, #1de2e2, #1de2e2 10%, #739bcf 80%, #053838 100%);

 
    }
    .bubble:nth-child(10){
      left: 85%;
      width: 50px;
      height: 50px;
      animation-delay: 0s;
      animation-duration: 12s;
      background: radial-gradient(circle at bottom, #1de2e2, #1de2e2 10%, #739bcf 80%, #053838 100%);

    }

    
.bubble:nth-child(11){
  left: 95%;
  width: 45px;
  height: 45px;
  animation-delay: 5s;
  animation-duration: 8s;
  background: radial-gradient(circle at bottom, #1de2e2, #1de2e2 10%, #739bcf 80%, #053838 100%);

}

.bubble:nth-child(12){
  left: 40%;
  width: 35px;
  height: 35px;
  animation-delay: 9s;
  animation-duration: 9s;

  background: radial-gradient(circle at bottom, #1559b3, #1559b3 10%, #739bcf 80%, #0f0d72 100%);
}


.bubble:nth-child(13){
  left: 65%;
  width: 30px;
  height: 30px;
  animation-delay: 4s;
  animation-duration: 10s;
  background: radial-gradient(circle at bottom, #1559b3, #1559b3 10%, #739bcf 80%, #0f0d72 100%);


}


.bubble:nth-child(14){
  left: 95%;
  width: 40px;
  height: 40px;
  animation-delay: 12s;
  animation-duration: 13s;
  background: radial-gradient(circle at bottom, #1559b3, #1559b3 10%, #739bcf 80%, #0f0d72 100%);


}

.bubble:nth-child(15){
  left: 65%;
  width: 60px;
  height: 60px;

  animation-duration: 14s;
  animation-delay: 8s;
  background: radial-gradient(circle at bottom, #1559b3, #1559b3 10%, #739bcf 80%, #0f0d72 100%);
}

.bubble:nth-child(16){
  left: 10%;
  width:80px;
  height:80px;
animation-delay: 3s;
animation-duration: 20s;
animation-duration: 16s;
background: radial-gradient(circle at bottom, #1559b3, #1559b3 10%, #739bcf 80%, #0f0d72 100%);



}

  }


    @keyframes rise{



      0%{
     bottom:2866px ;
        transform:translateX(100px);
        opacity: 0;
        border-radius: 46%;

      }
      30%{
        transform:translate(-50);
        opacity: 0.2;
        border-radius: 46%;
      }
      70%{

        transform:translateY(0) rotate(360deg);
        opacity: 0.1;
        border-radius: 46%;
     
      }

      100%{
        bottom:3480px;
        transform:translate(200) ;
        opacity: 0;
        border-radius: 50%;
     
      }
    }


    @-webkit-keyframes bubble-anim {
      0% {
        -webkit-transform: scale(1);
        transform: scale(1); }
    
      20% {
        -webkit-transform: scaleY(0.95) scaleX(1.05);
        transform: scaleY(0.95) scaleX(1.05); }
    
      48% {
        -webkit-transform: scaleY(1.1) scaleX(0.9);
        transform: scaleY(1.1) scaleX(0.9); }
    
      68% {
        -webkit-transform: scaleY(0.98) scaleX(1.02);
        transform: scaleY(0.98) scaleX(1.02); }
    
      80% {
        -webkit-transform: scaleY(1.02) scaleX(0.98);
        transform: scaleY(1.02) scaleX(0.98); }
    
      97%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1); } }
    
    @keyframes bubble-anim {
      0% {
        -webkit-transform: scale(1);
        transform: scale(1); }
    
      20% {
        -webkit-transform: scaleY(0.95) scaleX(1.05);
        transform: scaleY(0.95) scaleX(1.05); }
    
      48% {
        -webkit-transform: scaleY(1.1) scaleX(0.9);
        transform: scaleY(1.1) scaleX(0.9); }
    
      68% {
        -webkit-transform: scaleY(0.98) scaleX(1.02);
        transform: scaleY(0.98) scaleX(1.02); }
    
      80% {
        -webkit-transform: scaleY(1.02) scaleX(0.98);
        transform: scaleY(1.02) scaleX(0.98); }
    
      97%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1); } }


/*  bubble animation  */












/*  nav sticky */


.sticky + .content {
  padding-top: 60px;
}


/*  nav sticky */





   